img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* card */
.card__container {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.card__container {
    display: grid;
    row-gap: 3.5rem;
}

.card__article {
    position: relative;
    overflow: hidden;
}

.card__img {
    width: 328px;
    border-radius: 1.5rem;
}

.card__data {
    width: 220px;
    background-color: #fff;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
    color: darkmagenta;
}

.card__title {
    font-style: bold;
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: .75rem;
}

.card__btn {
    text-decoration: none;
    font-size: var(--small-font-size);
    color: var(--first-color);
    font-weight: 500;
}

.card__btn:hover {
    text-decoration: underline;
    color: blue;
}


/* animation en hover */

.card__article:hover .card__data {
    animation: show-data 2s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover {
    animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: show-data 1s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
}

/* card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

/* remove overflow */
@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

/* remove data */
@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }

}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/* responsive */
/* pour petit ecran */

@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .card__data {
        width: 250px;
        padding-inline: 1rem;
    }
}

/* pour moyen ecran */
@media screen and (min-width: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/* pour grand ecran */
@media screen and (min-width: 1024px) {
    .container {
        height: 100vh;
    }

    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .card__img {
        width: 328px;
    }

    .card__data {
        width: 220px;
        padding-inline: 2rem;
        bottom: -10rem;
    }
}

.music {
    border-radius: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    color: rgba(42, 26, 90, 0.518);
    background-color: rgba(37, 7, 106, 0.518);
}

.music button {
    border-radius: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(37, 7, 106, 0.518);
}

.music button:hover {
    background-color: #ff4a8d;
}